<div class="container" *ngIf="!loading">
    <h1>{{ editMetodopago ? "Actualizar un Metodo Pago" : "Crear un nuevo Metodo Pago" }}</h1>
    <hr>
    <div>
        <form [formGroup]="metodopagoForm" (ngSubmit)="onSubmit()">
            <label>Nombre del Metodo de Pago</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Metodo de pago</span>
                </div>
                <input type="text" class="form-control" formControlName="nombre">
            </div>
            <button type="submit" class="btn btn-primary">
        Aceptar
      </button>
        </form>
    </div>
</div>