<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>CRUD metodos de envio</h1>
                <hr>
                <table class="table table-striped">
                    <thead class="">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Print all Tasks in table -->
                      <tr *ngFor="let metodoenvio of metodosdeenvio">
                        <th scope="row">{{ metodoenvio.$key }}</th>
                        <td>{{ metodoenvio.nombre }}</td>
                        <td>
                          <a
                            [routerLink]="['/metodoenvio',metodoenvio.$key,'update']"
                            class="btn btn-info btn-sm mr-2"
                          >
                            EditMetodoEnvio
                          </a>
                  
                          <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            (click)="deleteMetodoenvio(metodoenvio.$key)"
                            [disabled]="loading"
                          >
                            DeleteMetodoEnvio
                          </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <a
                  [routerLink]="['/metodoenvio','create']"
                  class="btn btn-info btn-sm mr-2"
                >
                  CrearMetodoEnvio
                </a>
            </div>
        </div>
    </div>
</div>
