<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Historial</h1>
                <hr>
                <p class="lead">Estas son todas las ordenes que se han procesado</p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Total</th>
                                <th scope="col">Forma de pago</th>
                                <th scope="col">Metodo de envio</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of historial">
                                <td>{{ order.user }}</td>
                                <td>Bs. {{ order.total }}</td>
                                <td>{{ order.metodoPago }}</td>
                                <td>{{ order.metodoEnvio }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteOrdenDelHistorial(order.$key)">
                                    <i class="fas fa-trash-alt"></i>
                          </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>