<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
    <div class="snowflake">
        <i class="fas fa-candy-cane"></i>
    </div>
</div>