<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Productos a la venta</h1>
                <hr>


                <div class="row">
                    <div class="col-sm">
                        <p class="lead">A continuación se visualizan todos productos de la tienda</p>
                    </div>
                    <div class="col-sm text-right d-none d-sm-none d-md-block">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" id="buscador" (keyup)="buscar()" placeholder="Buscar por nombre...">
                        </div>
                    </div>
                    <div class="col-sm text-right d-none d-sm-none d-md-block">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Categoria</span>
                            </div>
                            <select class="form-control" id="buscadorCategoria" (change)="buscarCategoria()">
                            <option value="">Todas las categorias</option>
                            <option *ngFor="let category of categorys" value="{{ category.nombre }}">{{ category.nombre }}</option>
                          </select>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <caption>Lista de productos</caption>
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Imagen</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Descripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td scope="row" class="text-center"><img src='{{ product.imageProduct }}' height="100px"></td>
                                <td class="align-middle">{{ product.nombre }}</td>
                                <td class="align-middle">{{ product.categoria }}</td>
                                <td class="align-middle">{{ product.precio }}</td>
                                <td class="align-middle">{{ product.descripcion }}</td>
                                <td class="align-middle"><button type="button" [routerLink]="['/car', product.$key, 'add']" class="btn btn-warning text-center" [disabled]="loading">
                                    <i class="fas fa-cart-plus" style="font-size: 2rem;"></i>  Agregar al carrito
                        </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>