<div class="container" *ngIf="!loading">
    <h1>{{ editMetodoenvio ? "Actualizar metodo de envió" : "Crear un nuevo metodo envió" }}</h1>

    <form [formGroup]="metodoenvioForm" (ngSubmit)="onSubmit()">
        <label>Nombre del Metodo de envió</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Metodo de envió</span>
            </div>
            <input type="text" class="form-control" formControlName="nombre">
        </div>
        <button type="submit" class="btn btn-primary">
        Aceptar
      </button>
    </form>
</div>