<div class="container" *ngIf="!loading">
    <h1>{{ editMetodoenvio ? "Update Metodo Envio" : "Create Metodo Envio" }}</h1>
  
    <form [formGroup]="metodoenvioForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titleTask">Inserta nombre del metodo de envio</label>
        <input
          type="text"
          class="form-control"
          id="titleTask"
          formControlName="nombre"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>

