<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Lista de ordenes de los clientes</h1>
                <hr>
                <p class="lead">Estas son las ordenes de los clientes</p>

                <div class="card" *ngFor="let order of orders">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <h5 class="card-title">Orden del cliente: {{ order.user }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-shopping-bag"></i>  Bolsas: {{ order.bolsas.length }}</h6>
                                <p class="card-text">Total: Bs. 1000 <br> Metodo de pago: {{ order.metodoPago }} <br> Metodo de envio: {{ order.metodoEnvio }}</p>
                            </div>
                            <div class="col-sm d-flex align-items-center justify-content-center">
                                <button type="button" class="btn btn-warning btn-lg m-2"><i class="fas fa-list"></i>  Ver detalles</button>
                                <button type="button" class="btn btn-success btn-lg m-2"><i class="fas fa-check"></i>  Orden procesada</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>