<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Contáctanos</h1>
                <hr>
                <p class="lead">Formulario de contacto</p>
                <div class="row">
                    <div class="col-sm">
                        <label>Nombre</label>
                        <input class="form-control" placeholder="Escriba su nombre" type="text">
                        <br>
                        <label>Apellido</label>
                        <input class="form-control" placeholder="Escriba su apellido" type="text">
                        <br>
                        <label>Correo Electronico</label>
                        <input class="form-control" placeholder="Escriba su email" type="text">
                        <br>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Mensaje</label>
                            <textarea class="form-control" name="mensaje" rows="10"></textarea>
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-warning btn-lg pull-right mt-3" type="submit">     Enviar  <i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>