<div class="container py-5 mt-5" id="Contenedor">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Carrito</h1>
                <hr>
                <div class="row">
                    <div class="col-sm">
                        <p class="lead">Lista de las bolsas en tu carrito</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Bolsa</th>
                                <th class="text-center" scope="col">Productos en bolsa</th>
                                <th class="text-center" scope="col">Peso Bolsa</th>
                                <th class="text-center" scope="col">Coste Bolsa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bolsa of bolsas">
                                <td class="align-middle"><i class="fas fa-shopping-bag"></i>  Bolsa de Bs. {{ bolsa.precioComun }}</td>
                                <td>
                                    <p *ngFor="let prodRef of bolsa.contenido" class="mb-0"><small class="text-muted">  <i class="fas fa-candy-cane"></i> <u>Producto:</u> {{ prodRef.nombre }}  <i class="fas fa-long-arrow-alt-right"></i>  <i class="fas fa-weight"></i> <u>Peso:</u> {{prodRef.cantidad}} gr</small></p>
                                </td>
                                <td class="align-middle text-center">{{ bolsa.pesoTotal }} gr</td>
                                <td class="align-middle text-center">Bs. {{ bolsa.costoTotal }}</td>
                                <td class="align-middle text-center"><button type="button" class="btn btn-danger btn-sm" (click)="deleteBolsa(bolsa)">
                                    <i class="fas fa-trash"></i>  Eliminar Bolsa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a *ngIf="tieneAlgo()" class="btn btn-warning" href="order">
                            &nbsp;&nbsp;&nbsp; ¡Crear Orden de Compra! &nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>