<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row py-5">
                <div class="mx-auto col-lg-10 text-center">
                    <img src="assets/images/TiendaGolosinas.png">
                    <h1 class="display-4 mb-4 ">¡Bienvenido a la mejor tienda de Caramelos Online!</h1>
                    <p class="lead mb-5">Es una tienda Online de golosinas con la peculiaridad de que una bolsa puede contener más de un tipo de golosina, siempre y cuando su valor/peso sea el mismo </p>
                    <a href="store" class="btn btn-lg btn-warning mx-1">¡Ver los productos!</a>
                </div>
            </div>
        </div>
    </div>
</div>