<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h1>Cargar producto a la bolsa</h1>
                <hr>


                <div class="row">
                    <div class="col-sm">
                        <p class="lead">A continuación se visualizan todos productos de la tienda</p>
                    </div>
                    <div class="col-sm text-right d-none d-sm-none d-md-block">
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>