<div class="container py-5 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="container">

                <h1>Métodos de pago</h1>
                <hr>
                <div class="row">
                    <div class="col-sm">
                        <p class="lead">Lista de los posibles métodos de pago</p>
                    </div>
                    <div class="col-sm text-right">
                        <a [routerLink]="['/metodopago','create']" class="btn btn-warning btn-sm">
                            <i class="fas fa-plus"></i>  Crear un nuevo Metodo Pago
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Nombre</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let metodopago of metodosdepago">
                                <th scope="row" class="text-center"><i class="{{ metodopago.icono }}" style="font-size: 1.5rem;"></i></th>
                                <td>{{ metodopago.nombre }}</td>
                                <td class="text-right">
                                    <a [routerLink]="['/metodopago',metodopago.$key,'update']" class="btn btn-primary btn-sm mr-2">
                                        <i class="fas fa-edit"></i>  Editar
                                    </a>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteMetodopago(metodopago.$key)" [disabled]="loading">
                                  <i class="fas fa-trash"></i>  Eliminar
                          </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>